@{
    ViewBag.Title = "Index";
}

<box class="no-padding w-60 float-left">
    <table class="clean-table">
        <tr>
            <th>Status</th>
            <th><i class="fa fa-question"></i> What</th>
            <th><i class="fa fa-calendar-o"></i> Until</th>
            <th><i class="fa fa-cloud-upload"></i> Solutions</th>
        </tr>
        <tr class="task-todo">
            <td>
                <i class="fa fa-check-circle"></i>
            </td>
            <td>
                <label class="task-header">Cheng exam</label>
                <p class="task-content">Exam about Userinterfaces, Mockups drawing and bit of binding</p>
            </td>
            <td>
                Friday, the 24.05.18
            </td>
            <td><i class="fa fa-cloud-upload"></i></td>
        </tr>

        <tr>
            <th>Done</th>
            <th></th>
            <th></th>
        </tr>

        <tr class="task-done">
            <td>
                <i class="fa fa-check-circle"></i>
            </td>
            <td>
                <label class="task-header">SQL Setup</label>
                <p class="task-content">Set up MySQL for the next lessons, Slide 7 for information</p>
            </td>
            <td>
                Friday, the 24.05.18
            </td>
            <td><i class="fa fa-cloud-upload"></i></td>

        </tr>
        <tr class="task-done">
            <td>
                <i class="fa fa-check-circle"></i>
            </td>
            <td>
                <label class="task-header">GANTT Diagram</label>
                <p class="task-content">Make a fucking GANTT diagram for Maier</p>
            </td>
            <td>
                Thursday, the 23.05.18
            </td>
            <td><i class="fa fa-cloud-upload"></i></td>

        </tr>
    </table>
</box>

<box class="w-40 float-left no-margin">
    <table class="calendar">
        
    </table>
</box>

