<!DOCTYPE html>
<html>
<head>
    <!--Default tags-->
    <meta name="language" content="English">
    <meta name="pagename" content="Super-Smart">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="">

    <!-- STYLE -->
    <link href="~/Content/Style/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <!-- FONTAWESOME -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("head", required: false)
</head>
<body>
    <header class="float-clear">
        <h1 id="title">Tasker</h1>
        <div id="current-user">
            @if (!string.IsNullOrWhiteSpace(this.User?.Identity?.Name))
            {
                <label>@{Html.RenderAction("GetFullNameFromAuthorizedUser", "Home");}</label>
                <a href="@Url.Action("Logout", "Verification")"><i class='fa fa-lock'></i></a>
            }
        </div>
    </header>
    <div id="sidebar">

    </div>
    <main class="float-clear">
        @RenderBody()
    </main>
    <footer></footer>
</body>
</html>
