<!DOCTYPE html>
<html>
<head>
    <!--Default tags-->
    <meta name="language" content="English">
    <meta name="pagename" content="Super-Smart">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="">
    <title>TASKER</title>

    <!-- STYLE -->
    <link href="~/Content/Style/Site.css" rel="stylesheet" />
    <link href="~/Content/Style/material.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- FONTAWESOME -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Content/Style/material.min.js"></script>

    @RenderSection("head", required: false)
</head>
<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>
