/*<<<-------------------- Copyright information -------------------->>>*/

/*  This stylesheet was developed and designed for education use only. Reuse only allowed with permision   */
/*  Creator:  Joshua Simon Rost                                                                            */
/*            Software engineer apprantice                                                                 */
/*                                                                                                         */
/*  Version: 1.0                                                                                           */
/*                                                                                                         */
/*  Colors                                                                                                 */
/*  Pink:      #FF587D                                                                                     */
/*  Gray       #3C464C                                                                                     */


/*<<---------- GLOBAL ---------->>*/
#add-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 400px 70px 0;
}