<!DOCTYPE html>
<html>
<head>
    <!--Default tags-->
    <meta name="language" content="English">
    <meta name="pagename" content="Super-Smart">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="">
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
